@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-tt-surface2;
  }
  body {
    @apply bg-tt-bg text-tt-primaryText;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
    color-scheme: dark;
  }
}

::selection {
  background: #B7FF32;
  color: #000000;
}

html {
  scroll-behavior: smooth;
}
